<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>

  <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/theme/css/style.less">
  <script src="{{ SITEURL }}/theme/js/less-1.5.0.min.js" type="text/javascript"></script>
  <!-- <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css"> -->

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|PT+Mono">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="Personal Webpage of {{ AUTHOR }}">

  {% block head %}
  {% endblock %}

  <title>
  </title>

  {% include "modules/analytics.html" %}
</head>

<body>
  <aside>
    <div id="user_meta">
      <a href="colinmclear.net/chambers-conference">
        <img src="{{ SITEURL }}/theme/images/kant.jpg" alt="logo">
      </a>
      <!-- <h2></h2> -->
      <h3><a href="{{ SITEURL }}/chambers-conference">Kant on Introspection, Self-Consciousness, and Self-Knowledge</a></h3>
      <h4>May 1-2, 2015</h4>
      <!-- <p>Kant on Introspection, Self-Consciousness, and Self-Knowledge</p> -->
      <ul>
        <!-- <li><a href="{{ SITEURL }}/accomodations"></a>__Accomodations</li>
        <li><a href="{{ SITEURL }}/travel"></a>__Travel</li>  -->
      </ul>
    </div>
  </aside>

  <main>

    {% block content %}
    {% endblock %}

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    <div id="ending_message">
      <p>In cooperation with the <a href="http://www.unl.edu/philosophy/philosophy">Department of Philosophy</a>, UNL | Please contact <a href="mailto:mclear@unl.edu">Colin McLear</a> with any questions</p> 

    </div>
  </main>
  {% include "modules/idl.html" %}
</body>
</html>